<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        table, th, td {font-size: 20px; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 10px}
        .data {border-style: solid; border-width: 1px;}
    </style>
</head>
<body>
    <h1>WFB Battle Calculator</h1>
{% if not hit %}
        <form action="" method="POST">
            <button><a href="units_list/">Lista jednostke</a></button><br>
            <label for="name">Wybierz jednostke:</label>
            <select id="name" name="name">
                {% for unit in units_list %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="option" value="delete">Usun</button>
            <button type="submit" name="option" value="edit">Edytuj</button><br>
            <label for="att">Podaj ilosc atakow:</label>
            <input type="number" id="att" name="attacks" min="1" value="10"><br>
            <label for="def">Podaj Defensive Skill przeciwnika:</label>
            <input type="number" id="def" name="defensive" min="1" ><br>
            <label for="res">Podaj Resistance przeciwnika:</label>
            <input type="number" id="res" name="resistance" min="1" ><br>

            <button type="submit" name="option" value="fight">Walka!</button>
        {% csrf_token %}
        </form>
{% else %}
    <h3>{{ unit.name }}</h3>
        <table>

            <tr>
                <th>Trafienia</th>
                <td>{{ hit }}</td>
            </tr>
            <tr>
                <th>Zadane rany</th>
                <td>{{ wounds }}</td>
            </tr>
            <tr>
                <th>Armour Save: </th>
                {% for save in saves %}
                <td class="data">{{ save }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rany: </th>
                {% for j in arm %}
                <td class="data">{{ j }}</td>
                {% endfor %}
            </tr>

        </table><br>
{% endif %}


    <button><a href="/">Back</a></button><br>

</body>
</html>