<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>WFB Battle Calculator</h1>
{% if not result %}
        <form action="" method="POST">
            <label for="name">Wybierz jednostke:</label>
            <select id="name" name="name">
                {% for unit in units_list %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select><br>
            <label for="att">Podaj ilosc atakow:</label>
            <input type="number" id="att" name="attacks"><br>
            <label for="def">Podaj Defensive Skill:</label>
            <input type="number" id="def" name="defensive"><br>

            <button type="submit" name="option" value="fight">Walka!</button>
            <button type="submit" name="option" value="delete">Usun</button>
        {% csrf_token %}
        </form>
{% else %}
        <table>
            <tr>
                <th>Trafienia</th>
                <td>{{ result }}</td>
            </tr>
        </table><br>
{% endif %}
    <button><a href="add_unit/">Dodaj nowa jednostke</a></button><br>
    <button><a href="units_list/">Lista jednostke</a></button><br>
    <button><a href="/">Back</a></button><br>

</body>
</html>