{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
                <div class="dashboard-header m-2 p-2">
                        <div class="col-1">
                            <div class="nav nav-pills nav-justified">
                                <a class="nav-link active" href="/">Dodaj wynik</a>
                            </div>
                    </div>

                    <div class="dashboard-alerts">
                        <div class="alert-item alert-info">
                            <span class="font-weight-bold">Liczba graczy: 10</span>
                        </div>
                        <div class="alert-item alert-light">
                            <span class="font-weight-bold">Liczba gier: 100</span>
                        </div>
                    </div>
                </div>
                <div class="m-4 p-4 border-dashed">
                    <h2 class="dashboard-content-title">
                        <span>Pieciu najlepszych</span>
                    </h2>
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3">Ksywka</th>
                                <th class="col-2">Punkty</th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-3">Semi</td>
                                <td class="col-2">55</td>
                                <td class="col-2"><a href=""><button type="button" class="btn btn-primary rounded-0">Szczegóły</button></a></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-3">Semi</td>
                                <td class="col-2">553</td>
                                <td class="col-2"><a href=""><button type="button" class="btn btn-primary rounded-0">Szczegóły</button>
                                </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
{% endblock content %}