{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Lista</h1>

        <table style="border: 2px solid black">
            <tr>
                <th>Nazwa jednostki</th>
                <th>Ofensive Skill</th>
                <th>Strength</th>
                <th>AP</th>
                <th>Lightning Reflex</th>
            </tr>
            {% for unit in units_list %}
            <tr>
                <td>{{ unit.name }}</td>
                <td>{{ unit.offensive }}</td>
                <td>{{ unit.strength }}</td>
                <td>{{ unit.ap }}</td>
                {% if unit.reflex %}
                    <td style="color: green">Tak</td>
                {% else %}
                    <td style="color: red">Nie</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
<button><a href="/add_unit/">Dodaj nowa jednostke</a></button><br>
<button><a href="/">Back</a></button>

{% endblock content %}