{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Lista Uzytkownikow</h1>

        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nickname</th>
                <th>pass</th>
                <th>Army</th>
            </tr>
            {% for user in user_data %}
            <tr>
                <td>{{ user.user.login }}</td>
                <td>{{ user.user.password }}</td>
                <td>
                    {% for army in user.armies %}
                    {{ army.army.name }},
                    {% endfor %}
                </td>
                <td><a class="btn btn-secondary rounded-1" href="/edit_user/{{ user.user.id }}/">Edytuj</a></td>

            </tr>
            {% endfor %}
        </table>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="/add_user/">Dodaj</a>
            <a class="nav-link active" href="/">Back</a>
        </div>
    </div>
</div>


{% endblock content %}